*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: myWebFont;
	src: url(./'Insanibu.ttf');
	
}

div {
	font-family: myWebFont;
	src: url(./'Insanibu.ttf');
	color: #E84855;

}

#logo {
	margin-left: 600px;
}

.container {
	background-image: url('../images/background.jpg');
	background-color: none;
	background-repeat: none;
	background-size: 100% 100%;
	background-width: 100%;
	position: relative;
}

h1 {
	font-family: Blippo, fantasy;
	text-align: center;
	font-size: 70px;
}



h3 {
	font-family: Blippo, fantasy;
	text-align: center;
}


#logo {
	margin-left: 470px;
}

#enter{
	font-family: Blippo, fantasy;
	margin-left: 550px;
	margin-top: 150px;
	border-radius: 80%;
	padding: 10px;
	background-color: #F8F272;
	color: #EF709D;
}

#stepone, #steptwo, #stepthree, #stepfour, #stepfive, #stepsix, #stepseven, #resultlose,
#resultwin {
	display: none;
	align-content: center;
	vertical-align: center;
}


#step1, #step2, #step3, #step4, #step5, #step6, #step7, #burger, #losing {
	margin-left: 355px
	border-style: dotted dashed solid double;
	
	
}


#a, #d, #g, #j, #m, #p, #s {
	font-family: Blippo, fantasy;
	margin-left: 250px;
	margin-top: 70px;
	border-radius: 80%;
	padding: 10px;
	background-color: #F8F272;
	color: #EF709D;
}

#b, #e, #h, #k, #n, #q, #t {
	font-family: Blippo, fantasy;
	margin-left: 70px;
	margin-top: 70px;
	border-radius: 80%;
	padding: 10px;
	background-color: #F8F272;
	color: #EF709D;
}

#c, #f, #i, #l, #o, #r, #u {
	font-family: Blippo, fantasy;
	margin-left: 60px;
	margin-top: 70px;
	border-radius: 80%;
	padding: 10px;
	background-color: #F8F272;
	color: #EF709D;
}

#exit {
	font-family: Blippo, fantasy;
	margin-left: 550px;
	margin-top: 70px;
	border-radius: 80%;
	padding: 10px;
	background-color: #F8F272;
	color: #EF709D;
}


/* responsive part */
/* mobile */
@media only screen and (max-width:650px){

   .container {
    max-width: 650px;
   }
   .col-sm-1 { width: 8.33%; }
   .col-sm-2 { width: 16.66%; } /* don't round this up */
   .col-sm-3 { width: 25%; } /* round this up */
   .col-sm-4 { width: 33.33%; }
   .col-sm-5 { width: 41.66%; }
   .col-sm-6 { width: 50%; }
   .col-sm-7 { width: 58.33%; }
   .col-sm-8 { width: 66.66%; }
   .col-sm-9 { width: 75%; }
   .col-sm-10 { width: 83.33%; }
   .col-sm-11 { width: 91.66%; }
   .col-sm-12 { width: 100%; }
}

/* tablet-default-widths */
@media only screen and (min-width:651px) and (max-width: 1900px) {
   .container {
    max-width: 1900px;
    min-width: 651px;
   }

   .col-md-1 { width: 8.33%; }
   .col-md-2 { width: 16.66%; } /* don't round this up */
   .col-md-3 { width: 25%; } /* round this up */
   .col-md-4 { width: 33.33%; }
   .col-md-5 { width: 41.66%; }
   .col-md-6 { width: 50%; }
   .col-md-7 { width: 58.33%; }
   .col-md-8 { width: 66.66%; }
   .col-md-9 { width: 75%; }
   .col-md-10 { width: 83.33%; }
   .col-md-11 { width: 91.66%; }
   .col-md-12 { width: 100%; }
}

/* desktop */
@media only screen and (min-width:1901px){
   /* starting at 1901px or more, it will stay at center*/
   .container {
    width: 1901px;
    margin: 0 auto;
   }

   .col-lg-1 { width: 8.33%; }
   .col-lg-2 { width: 16.66%; } /* don't round this up */
   .col-lg-3 { width: 25%; } /* round this up */
   .col-lg-4 { width: 33.33%; }
   .col-lg-5 { width: 41.66%; }
   .col-lg-6 { width: 50%; }
   .col-lg-7 { width: 58.33%; }
   .col-lg-8 { width: 66.66%; }
   .col-lg-9 { width: 75%; }
   .col-lg-10 { width: 83.33%; }
   .col-lg-11 { width: 91.66%; }
   .col-lg-12 { width: 100%; }

}
